<main>
    <h2>
        <%= @user.username %>'s Friend Requests
    </h2>
    <% @friend_requests.each do |friend_request| %>
        <div class="friend-request">
            <%= link_to @users.find(friend_request.sender_id).username, profile_path(@users.find(friend_request.sender_id)) %>
            <%= link_to "Accept", create_friendship_path(friend_request), method: :post, data: { confirm: "Are you sure?" } %>
            <%= link_to "Decline", delete_friend_request_path(friend_request), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
    <% end %>  
</main>

